<!--
###############################################################################
#
# JNLP File for Jay Tray Swingclient
#
###############################################################################
 -->

<jnlp spec="0.2 1.0" codebase="http://baloise.github.io/jay/jnlp" href="jay.jnlp">

   <information>
      <title>Jay</title>
      <vendor>Basler Versicherungs-Gesellschaft</vendor>
      <homepage href="http://www.baloise.ch"/>
      <description>Jay is a tray application</description>
      <offline-allowed>true</offline-allowed>
   </information>

   <security>
      <all-permissions/>
   </security>

  <resources>
        <j2se version="1.6" />
        $dependencies
  </resources>

  <application-desc main-class="$mainClass">
  </application-desc>

</jnlp>